* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url('image/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
    
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container_aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container_titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_caixa {
     margin: 0 6em;
}

.secundario_imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-size: 3rem;
    color: var(--cinza-principal);
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 1em;
}

.container_descricao {
    padding: 2em;
}